
p{
    background-color: #d3d3d3;
    padding: 30px;
    border: 5px solid black;
    border-radius: 30px;
}
button{
    height: 40px;
    width: 100px;
    font-size: 15px;
    font-weight: bold;
    background-color: #ffffff;
    border: 2px solid #dde3e8;
    border-radius: 10px;
}