body{
   
}
img{
    width: 20%;
    height: 50%;
    display:block;
    margin:auto;
}
.section{
   
    display:block;
    margin:auto;
    margin-top: 10%;
}
   
input{
    width: 50%;
    height: 50px;
    display:block;
    margin:auto;
    border: 1px solid #dde3e8;
    border-radius: 50px;
}
button{
    display:inline;
    margin:auto;
}
.button-class{
    height: 50px;

    
}
